
@{
    Layout = Session["Layout"].ToString();
    ViewBag.Title = "Demobilization";
}

<h2>שחרור</h2>
<textarea class="form-control " placeholder="סיכום אישפוז"
          cols="20"
          id="myTextArea"
          name="myTextArea"
          rows="2"></textarea>
<input id="Button1" type="button" value="אישור" />

