
@{
    ViewBag.Title = "Index";
    Layout = Session["Layout"].ToString();
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>

<h2>ברוך הבא !!!</h2>


